In [29]:
import pandas as pd
from string import printable
import os

In [20]:
mediated_schema_path = "./schema_matching/csv/schema_final.csv"
mediated_schema = pd.read_csv(mediated_schema_path)

In [64]:
occurrences = {}
name2occurrences = {}
datasets_path = "../json_datasets"
for file in os.listdir(datasets_path):
    file_name = f"{datasets_path}/{file}"
    team_name = file.split("-")[0]

    if team_name not in name2occurrences:
        name2occurrences[team_name] = {}

    df = pd.read_json(file_name)
    for _, row in df.iterrows():
        for char in list(row.to_string()):
            
            if char not in name2occurrences[team_name]:
                name2occurrences[team_name][char] = 0
            if char not in occurrences:
                occurrences[char] = 0
            occurrences[char] += 1
            name2occurrences[team_name][char] += 1

In [67]:
display(pd.DataFrame(name2occurrences))

,Silvestri,Gren,Wissel,MalPatSaj,DDD,DeBiGa,IGMM,MarScoToc,Slytherin,FR,GioPonSpiz,Avengers
c,15337.0,82205.0,53739.0,26266.0,72203.0,103241.0,161455.0,28802.0,176297.0,19085.0,70625.0,222337.0
e,53934.0,278421.0,175527.0,90719.0,145233.0,335237.0,408620.0,147648.0,415274.0,97937.0,127852.0,636580.0
o,25296.0,111888.0,113639.0,57312.0,65148.0,171888.0,237948.0,76836.0,355998.0,65855.0,95825.0,375086.0
,549460.0,4985893.0,4877097.0,1251389.0,2167834.0,4922224.0,7437508.0,1806868.0,7848834.0,1413154.0,2158889.0,11410543.0
B,6192.0,6029.0,10080.0,19612.0,10167.0,21738.0,36092.0,11722.0,25951.0,5469.0,35351.0,14326.0
...,...,...,...,...,...,...,...,...,...,...,...,...
式,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
会,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
社,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
縁,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
人,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN

In [73]:
allawed_char =  printable[:-38] + " .,"

In [74]:
bizzarre = {key.encode("utf-8"): [occurrences[key]] for key in occurrences if key not in allawed_char}
bizzarre = pd.DataFrame(bizzarre).T
display(bizzarre)

                   0
b'\n'        1330395
b'_'          727137
b"'"            2002
b'/'          277144
b'-'          169045
...              ...
b'\xd0\x9f'        3
b'\xd0\x90'        2
b'\xd0\x9e'        2
b'>'               1
b'\xc2\x8b'        1

[211 rows x 1 columns]

In [71]:
bizzarre.to_csv("./caratteri_bizzarri.csv", index=[0])

In [85]:
bizzare_per_team = { team : { key.encode("utf-8") : name2occurrences[team][key] for key in name2occurrences[team] if key not in allawed_char} for team in name2occurrences}
bizzare_per_team = pd.DataFrame(bizzare_per_team)

In [87]:
bizzare_per_team.to_csv("./caratteribizzarri_per_team.csv")