In [3]:
import pandas as pd
from string import printable
import os

In [20]:
mediated_schema_path = "./schema_matching/csv/schema_final.csv"
mediated_schema = pd.read_csv(mediated_schema_path)

In [5]:
datasets_path = "../../csv_datasets"
datasets_cleaned_path = "../../csv_datasets_cleaned"

caratteri_bizzarri_path = "/caratteri_bizzarri.csv"
caratteri_bizzarri_per_team_path = "/caratteri_bizzarri_per_team.csv"

# pre cleaning
pre_dir_path = "./csv/pre_cleaning"
pre_bizzarre_path = pre_dir_path + caratteri_bizzarri_path # ./csv/pre_cleaning/caratteri_bizzarri.csv
pre_bizzarre_per_team_path = pre_dir_path + caratteri_bizzarri_per_team_path # ./csv/pre_cleaning/caratteri_bizzarri_per_team.csv

# post cleaning
post_dir_path = "./csv/post_cleaning"
post_bizzarre_path = post_dir_path + caratteri_bizzarri_path # ./csv/post_cleaning/caratteri_bizzarri.csv
post_bizzarre_per_team_path = post_dir_path + caratteri_bizzarri_per_team_path # ./csv/post_cleaning/caratteri_bizzarri_per_team.csv

In [ ]:
# Funzione che calcola la frequenza dei caratteri nei datasets presenti in una cartella
# N.B. i datasets devono essere in formato .csv
def calculate_char_freq(datasets_path):
    occurrences = {} 
    nameteam2occurrences = {} # dizionario di dizionario e.g. {"DDD": {<char1>: #1, <char2>: #2, ...}}
    for file in os.listdir(datasets_path):
        file_name = f"{datasets_path}/{file}"
        team_name = file.split("-")[0]

        if team_name not in nameteam2occurrences:
            nameteam2occurrences[team_name] = {}

        df = pd.read_csv(file_name)
        numColumns = len(df.columns)
        columnsName = df.columns
        for idx, _ in df.iterrows():
            for colIdx in range(numColumns):
                cellData = str(df.loc[idx, columnsName[colIdx]])
                for char in cellData:
                    if char not in nameteam2occurrences[team_name]:
                        nameteam2occurrences[team_name][char] = 0
                    if char not in occurrences:
                        occurrences[char] = 0
                    occurrences[char] += 1
                    nameteam2occurrences[team_name][char] += 1
    return occurrences, nameteam2occurrences

In [ ]:
allowed_char =  printable[:-38] + " .,"
# allowed_char = "\n\r"

# Calcolo occorrenze dei caratteri prima del cleaning

In [ ]:
before_occurrences, before_nameteam2occurrences = calculate_char_freq(datasets_path)

In [ ]:
display(pd.DataFrame(before_nameteam2occurrences))

,Silvestri,Gren,Wissel,MalPatSaj,DDD,DeBiGa,IGMM,MarScoToc,Slytherin,FR,GioPonSpiz,Avengers
B,6192.0,6066.0,10507.0,19619.0,10196.0,23554.0,36509.0,11777.0,26832.0,5500.0,35355.0,15370.0
e,13941.0,34479.0,109314.0,38142.0,53613.0,143410.0,121498.0,66620.0,195336.0,36381.0,40020.0,242630.0
r,8056.0,24313.0,63487.0,27864.0,30954.0,83326.0,61643.0,57805.0,138237.0,24195.0,22903.0,116486.0
n,16063.0,31865.0,99391.0,32606.0,35478.0,111787.0,138678.0,63072.0,248121.0,31276.0,60583.0,217095.0
a,12163.0,39506.0,90430.0,36401.0,43141.0,121530.0,89546.0,80803.0,238212.0,32181.0,37251.0,180623.0
...,...,...,...,...,...,...,...,...,...,...,...,...
会,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
社,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
縁,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
人,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
\r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN

In [ ]:
pre_bizzarre2occurrences = {key: [before_occurrences[key]] for key in before_occurrences if key not in allowed_char}
pre_bizzarre2occurrences = pd.DataFrame(pre_bizzarre2occurrences).T
display(pre_bizzarre2occurrences)

    0
\r  5

In [ ]:
pre_bizzare_per_team = { team : { key : before_occurrences[team][key] for key in before_occurrences[team] if key not in allowed_char} for team in before_occurrences}
pre_bizzare_per_team = pd.DataFrame(pre_bizzare_per_team)

In [ ]:
display(pre_bizzare_per_team)

,Silvestri,Gren,Wissel,MalPatSaj,DDD,DeBiGa,IGMM,MarScoToc,Slytherin,FR,GioPonSpiz,Avengers
\r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN

In [ ]:
pre_bizzarre2occurrences.to_csv(pre_bizzarre_path, index=[0])

In [ ]:
pre_bizzare_per_team.to_csv(pre_bizzarre_per_team_path)

# Calcolo occorrenze dei caratteri dopo il cleaning

In [ ]:
post_occurrences, post_nameteam2occurrences = calculate_char_freq(datasets_path)

In [ ]:
display(pd.DataFrame(post_nameteam2occurrences))

,Silvestri,Gren,Wissel,MalPatSaj,DDD,DeBiGa,IGMM,MarScoToc,Slytherin,FR,GioPonSpiz,Avengers
B,6192.0,6066.0,10507.0,19619.0,10196.0,23554.0,36509.0,11777.0,26832.0,5500.0,35355.0,15370.0
e,13941.0,34479.0,109314.0,38142.0,53613.0,143410.0,121498.0,66620.0,195336.0,36381.0,40020.0,242630.0
r,8056.0,24313.0,63487.0,27864.0,30954.0,83326.0,61643.0,57805.0,138237.0,24195.0,22903.0,116486.0
n,16063.0,31865.0,99391.0,32606.0,35478.0,111787.0,138678.0,63072.0,248121.0,31276.0,60583.0,217095.0
a,12163.0,39506.0,90430.0,36401.0,43141.0,121530.0,89546.0,80803.0,238212.0,32181.0,37251.0,180623.0
...,...,...,...,...,...,...,...,...,...,...,...,...
会,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
社,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
縁,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
人,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
\r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN

In [ ]:
post_bizzarre2occurrences = {key: [before_occurrences[key]] for key in before_occurrences if key not in allowed_char}
post_bizzarre2occurrences = pd.DataFrame(post_bizzarre2occurrences).T
display(post_bizzarre2occurrences)

    0
\r  5

In [ ]:
post_bizzare_per_team = { team : { key : before_occurrences[team][key] for key in before_occurrences[team] if key not in allowed_char} for team in before_occurrences}
post_bizzare_per_team = pd.DataFrame(post_bizzare_per_team)

In [ ]:
display(post_bizzare_per_team)

,Silvestri,Gren,Wissel,MalPatSaj,DDD,DeBiGa,IGMM,MarScoToc,Slytherin,FR,GioPonSpiz,Avengers
\r,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN

In [ ]:
post_bizzarre2occurrences.to_csv(post_bizzarre_path, index=[0])

In [ ]:
post_bizzare_per_team.to_csv(post_bizzarre_per_team_path)